.leaflet-container {
  width: 100%;
  height: 87vh;
}

.headerMenuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  padding: 10px 20px;
}


.results{
  margin: 8px;
}